<div class="container mx-auto px-4 md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm 2xl:max-w-screen-sm">

  <!-- New simulation button -->
  <div class="flex justify-center mt-4 text-sm">
    <%= link_to "Faire une simulation", new_simulation_path, class: "bg-gray-800 text-white px-2 py-1 rounded cursor-pointer" %>
  </div>

  <!-- Introduction text -->
  <div class="mt-8">
    <h3 class="text-base leading-tight mt-4">Vous pouvez à tout moment revenir et modifier vos précédentes simulations en cliquant dessus.
    </h3>
  </div>

  <!-- Mes simulations -->
  <div class="mt-8">
    <h1 class="text-xl font-bold leading-tight">Mes simulations :</h1>
  </div>

  <% @simulations.each do |simulation| %>
    <div class="flex w-full bg-white border border-gray-300 rounded mt-2 hover:shadow-md">
      <%= link_to simulation_path(simulation), class: "w-full p-2" do %>
        <p>
          <span class="font-bold text-xl"><%= simulation.house_price_bought %>€</span> sur <%= simulation.house_city %><% if simulation.house_first_works > 0 %>, +<%= simulation.house_first_works %>€ de travaux<% end %>
        </p>
        <p>
          <span class="font-bold">XX,X%</span>
          de rentabilité nette
        </p>
        <p>Il y a <%= simulation.created_for %></p>
      <% end %>
    </div>
  <% end %>

</div>