<div class="mx-auto px-6 sm:px-8 md:px-16 2xl:px-32 flex justify-center">

  <div style="max-width: 480px;">
    <!-- Switching simulation types / Hidden for now -->
    <div class="flex justify-end mr-4 mt-12 text-sm hidden">
      <div class="flex items-center bg-green-200 text-gray-700 px-2 py-1">
        <i class="fas fa-check mr-2" style="font-size: 12px;"></i>
        <p class="">Instantanée</p>
      </div>
      <p class="bg-gray-700 text-white px-2 py-1">Détaillée</p>
    </div>

    <!-- Advertising text -->
    <div class="mt-8 sm:mt-16">
      <h1 class="text-xl sm:text-2xl font-bold leading-tight">Cette annonce vue en ligne est-elle un bon investissement locatif ?</h1>
      <h2 class="text-base leading-tight mt-4">Nous vous donnons la réponse en 60 secondes. Top chrono !</h2>
    </div>

    <!-- Form -->
    <%= form_for @simulation do |f| %>
    <div class="grid grid-cols-1 mt-8">

      <% if @simulation.errors.any? %>
        <% @simulation.errors.full_messages.each do |message|%>
          <h3><%= message %></h3>
        <%end%>
      <%end%>

      <!-- 1/ Bien immobilier -->
      <div class="bg-green-100 bg-opacity-50 w-full px-4 sm:px-6 py-8 rounded-tl rounded-tr">
        <div class="flex items-center border-b-2 border-black">
          <i class="fas fa-home mx-1" style="font-size: 20px;"></i>
          <h2 class="text-xl font-bold">Bien immobilier</h2>
        </div>

        <!-- Ville -->
        <div class="flex flex-col mt-8">
          <%= f.label :house_city, "Ville", class: "font-bold" %>
          <%= f.text_field :house_city, placeholder: "Paris", style: "width: 200px; height: 40px;", class: "rounded border-2 border-green-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" %>
          <!-- <%= errors_for @simulation, :house_city %>   -->
        </div>

        <!-- Prix d'achat -->
        <div class="flex flex-col mt-4">
          <%= f.label :house_price_bought_amount, "Prix d'achat", class: "font-bold" %>
          <p class="text-xs text-gray-500">Prix du bien + Frais d’agence</p>
          <%= f.number_field :house_price_bought_amount, placeholder: "200 000€", min: 0, pattern: "[0-9]*", inputmode: "numeric", style: "width: 200px; height: 40px;", class: "rounded border-2 border-green-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent number-field-thousand-separator" %>
          <!-- <%= errors_for @simulation, :house_price_bought_amount %>   -->
        </div>

        <!-- Budget travaux -->
        <div class="flex flex-col mt-4">
          <%= f.label :house_first_works_amount, "Budget travaux", class: "font-bold" %>
          <p class="text-xs text-gray-500">(optionnel)</p>
          <%= f.number_field :house_first_works_amount, placeholder: "15 000€ TTC", style: "width: 200px; height: 40px;", class: "rounded border-2 border-green-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent number-field-thousand-separator" %>
          <!-- <%= errors_for @simulation, :house_first_works_amount %>   -->
        </div>

        <!-- Charges annuelles totales -->
        <div class="flex flex-col mt-4">
          <%= f.label :house_total_charges_amount_per_year, "Charges annuelles totales", class: "font-bold" %>
          <p class="text-xs text-gray-500">En moyenne 80% sont récupérées sur le locataire</p>
          <%= f.number_field :house_total_charges_amount_per_year, placeholder: "1 200€", style: "width: 200px; height: 40px;", class: "rounded border-2 border-green-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent number-field-thousand-separator" %>
          <!-- <%= errors_for @simulation, :house_total_charges_amount_per_year %>   -->
        </div>

        <!-- Taxe foncière -->
        <div class="flex flex-col mt-4">
          <%= f.label :house_property_tax_amount_per_year, "Taxe foncière", class: "font-bold" %>
          <p class="text-xs text-gray-500">En moyenne 1 mois de loyer</p>
          <%= f.number_field :house_property_tax_amount_per_year, placeholder: "800€", style: "width: 200px; height: 40px;", class: "rounded border-2 border-green-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent number-field-thousand-separator" %>
          <!-- <%= errors_for @simulation, :house_property_tax_amount_per_year %>   -->
        </div>

      </div>

      <!-- 2/ Mise en location -->
      <div class="bg-blue-100 bg-opacity-50 w-full px-4 sm:px-6 py-8">
        <div class="flex items-center border-b-2 border-black">
          <i class="fas fa-key mx-1" style="font-size: 16px;"></i>
          <h2 class="text-xl font-bold">Mise en location</h2>
        </div>

        <!-- Loyer mensuel -->
        <div class="flex flex-col mt-8">
          <%= f.label :house_rent_amount_per_month, "Loyer mensuel", class: "font-bold" %>
          <p class="text-xs text-gray-500">Hors charges</p>
          <%= f.number_field :house_rent_amount_per_month, placeholder: "800€ HC", style: "width: 200px; height: 40px;", class: "rounded border-2 border-blue-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent number-field-thousand-separator" %>
          <!-- <%= errors_for @simulation, :house_rent_amount_per_month %>   -->
        </div>

        <!-- Gestion en agence ? -->
        <div class="flex flex-col mt-4">
          <%= f.label :house_property_management_cost_percentage, "Gestion en agence ?", class: "font-bold" %>
          <p class="text-xs text-gray-500">En moyenne 8% des loyers HC</p>
          <div class="flex items-center justify-between mt-1" style="width: 200px; height: 40px;" id="radio-house-property-management-cost">
            <div class="flex justify-center items-center bg-white rounded border-2 border-blue-200" style="width: 92px; height: 40px;">
              <%= f.radio_button :house_property_management_cost_percentage, 0.08, class: "hidden" %>
              <%= f.label :house_property_management_cost_percentage, "Oui", value: 0.08, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-blue-200" style="width: 92px; height: 40px;">
              <%= f.radio_button :house_property_management_cost_percentage, 0, class: "hidden"%>
              <%= f.label :house_property_management_cost_percentage, "Non", value: 0, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>

            <!-- <%= errors_for @simulation, :house_property_management_cost_percentage %>   -->
          </div>

        </div>

      </div>

      <!-- 3/ Emprunt bancaire -->
      <div class="bg-red-100 bg-opacity-50 w-full px-4 sm:px-6 py-8">
        <div class="flex items-center border-b-2 border-black">
          <i class="fas fa-piggy-bank mx-1" style="font-size: 20px;"></i>
          <h2 class="text-xl font-bold">Emprunt bancaire</h2>
        </div>

        <!-- Montant emprunté -->
        <div class="flex flex-col mt-8">
          <%= f.label :credit_loan_amount, "Montant emprunté", class: "font-bold" %>
          <p class="text-xs text-gray-500">Seulement l’argent emprunté auprès de votre banque</p>
          <%= f.number_field :credit_loan_amount, placeholder: "240 000€", style: "width: 200px; height: 40px;", class: "rounded border-2 border-red-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-red-600 focus:border-transparent number-field-thousand-separator" %>
          <!-- <%= errors_for @simulation, :credit_amount %>   -->
        </div>

        <!-- Durée -->
        <div class="flex flex-col mt-4">
          <%= f.label :credit_loan_duration, "Durée", class: "font-bold" %>
          <p class="text-xs text-gray-500">En années</p>
          <div class="flex items-center justify-between mt-1" style="width: 200px; height: 40px;" id="radio-credit-loan-duration">
            <div class="flex justify-center items-center bg-white rounded border-2 border-red-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :credit_loan_duration, 5, class: "hidden" %>
              <%= f.label :credit_loan_duration, "5", value: 5, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-red-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :credit_loan_duration, 10, class: "hidden"%>
              <%= f.label :credit_loan_duration, "10", value: 10, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-red-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :credit_loan_duration, 15, class: "hidden"%>
              <%= f.label :credit_loan_duration, "15", value: 15, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-red-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :credit_loan_duration, 20, class: "hidden"%>
              <%= f.label :credit_loan_duration, "20", value: 20, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-red-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :credit_loan_duration, 25, class: "hidden"%>
              <%= f.label :credit_loan_duration, "25", value: 25, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>

            <!-- <%= errors_for @simulation, :credit_loan_duration %>   -->
          </div>

        </div>

      </div>

      <!-- 4/ Imposition -->
      <div class="bg-yellow-100 bg-opacity-50 w-full px-4 sm:px-6 py-8 rounded-bl rounded-br">
        <div class="flex items-center border-b-2 border-black">
          <i class="fas fa-gavel mx-1" style="font-size: 16px;"></i>
          <h2 class="text-xl font-bold">Imposition</h2>
        </div>

        <!-- Statut fiscal -->
        <div class="flex flex-col mt-8">
          <%= f.label :fiscal_status, "Statut fiscal", class: "font-bold" %>
          <p class="text-xs text-gray-500">Actuellement 5 disponibles</p>
          <div class="flex items-center justify-between flex-wrap gap-2 mt-1" id="radio-fiscal-status">
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_status, "Vide", class: "hidden" %>
              <%= f.label :fiscal_status, "Vide", value: "Vide", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_status, "LMNP", class: "hidden"%>
              <%= f.label :fiscal_status, "LMNP", value: "LMNP", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_status, "LMP", class: "hidden"%>
              <%= f.label :fiscal_status, "LMP", value: "LMP", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_status, "Pinel", class: "hidden"%>
              <%= f.label :fiscal_status, "Pinel", value: "Pinel", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_status, "DeNormandie", class: "hidden"%>
              <%= f.label :fiscal_status, "DeNormandie", value: "DeNormandie", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>

            <!-- <%= errors_for @simulation, :fiscal_status %>   -->
          </div>

        </div>

        <!-- Régime fiscal -->
        <div class="flex flex-col mt-4">
          <%= f.label :fiscal_regimen, "Régime fiscal", class: "font-bold" %>
          <p class="text-xs text-gray-500">Le mode de déduction choisit pour vos charges</p>
          <div class="flex items-center justify-between flex-wrap gap-2 mt-1" id="radio-fiscal-regimen">
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_regimen, "Réel", class: "hidden" %>
              <%= f.label :fiscal_regimen, "Réel / BIC", value: "Réel", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center px-2 bg-white rounded border-2 border-yellow-200 cursor-pointer" style="height: 40px;">
              <%= f.radio_button :fiscal_regimen, "Forfait", class: "hidden"%>
              <%= f.label :fiscal_regimen, "Forfait / Micro-BIC", value: "Forfait", class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>

            <!-- <%= errors_for @simulation, :fiscal_regimen %>   -->
          </div>

        </div>

        <!-- Revenus annuels nets du foyer -->
        <div class="flex flex-col mt-4">
          <%= f.label :fiscal_revenues_p1, "Revenus annuels nets du foyer", class: "font-bold" %>
          <div class="flex justify-between items-center flex-wrap gap-2">
            <div class="flex flex-col">
              <p class="text-xs text-gray-500">Vos revenus</p>
              <%= f.number_field :fiscal_revenues_p1, placeholder: "60 000€ nets/an", style: "width: 124px; height: 40px;", class: "rounded border-2 border-yellow-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent number-field-thousand-separator" %>
              <!-- <%= errors_for @simulation, :fiscal_revenues_p1 %>   -->
            </div>
            <div>
              <p class="text-2xl text-gray-500 px-2 pt-4">+</p>
            </div>
            <div class="flex flex-col">
              <p class="text-xs text-gray-500">Si couple, conjoint</p>
              <%= f.number_field :fiscal_revenues_p2, placeholder: "60 000€ nets/an", style: "width: 124px; height: 40px;", class: "rounded border-2 border-yellow-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent number-field-thousand-separator" %>
              <!-- <%= errors_for @simulation, :fiscal_revenues_p1 %>   -->
            </div>
          </div>
        </div>

        <!-- Nombre d'enfants à charge -->
        <div class="flex flex-col mt-4">
          <%= f.label :fiscal_nb_dependent_children, "Nombre d'enfants à charge", class: "font-bold" %>
          <p class="text-xs text-gray-500">Vos enfants mineurs ou majeurs (sous certaines conditions) rattachés à votre foyer fiscal</p>
          <div class="flex items-center justify-start mt-1" id="radio-fiscal-nb-dependent-children">
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 0, class: "hidden" %>
              <%= f.label :fiscal_nb_dependent_children, "0", value: 0, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 1, class: "hidden" %>
              <%= f.label :fiscal_nb_dependent_children, "1", value: 1, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 2, class: "hidden"%>
              <%= f.label :fiscal_nb_dependent_children, "2", value: 2, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 3, class: "hidden"%>
              <%= f.label :fiscal_nb_dependent_children, "3", value: 3, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 4, class: "hidden"%>
              <%= f.label :fiscal_nb_dependent_children, "4", value: 4, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 5, class: "hidden"%>
              <%= f.label :fiscal_nb_dependent_children, "5", value: 5, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :fiscal_nb_dependent_children, 6, class: "hidden"%>
              <%= f.label :fiscal_nb_dependent_children, "6", value: 6, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>

            <!-- <%= errors_for @simulation, :fiscal_nb_dependent_children %>   -->
          </div>

        </div>

        <!-- Nombre d'enfants en garde alternée -->
        <div class="flex flex-col mt-4">
          <%= f.label :fiscal_nb_alternate_custody_children, "Nombre d'enfants en garde alternée", class: "font-bold" %>
          <p class="text-xs text-gray-500">Les enfants du foyers en garde partagée</p>
          <div class="flex items-center justify-start mt-1" id="radio-fiscal-nb-alternate-custody-children">
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 0, class: "hidden" %>
              <%= f.label :fiscal_nb_alternate_custody_children, "0", value: 0, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 1, class: "hidden" %>
              <%= f.label :fiscal_nb_alternate_custody_children, "1", value: 1, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 2, class: "hidden"%>
              <%= f.label :fiscal_nb_alternate_custody_children, "2", value: 2, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 3, class: "hidden"%>
              <%= f.label :fiscal_nb_alternate_custody_children, "3", value: 3, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 4, class: "hidden"%>
              <%= f.label :fiscal_nb_alternate_custody_children, "4", value: 4, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px; margin-right: 5px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 5, class: "hidden"%>
              <%= f.label :fiscal_nb_alternate_custody_children, "5", value: 5, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>
            <div class="flex justify-center items-center bg-white rounded border-2 border-yellow-200" style="width: 36px; height: 40px;">
              <%= f.radio_button :fiscal_nb_alternate_custody_children, 6, class: "hidden"%>
              <%= f.label :fiscal_nb_alternate_custody_children, "6", value: 6, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
            </div>

            <!-- <%= errors_for @simulation, :fiscal_nb_alternate_custody_children %>   -->
          </div>

        </div>

      </div>

      <!-- 5/ Calculer ma rentabilité -->
      <div class="flex justify-center mt-12">
        <%= f.submit 'Calculer ma rentabilité', style: "width: 240px; height: 52px;", class: "text-lg font-bold text-white rounded bg-green-700 p-2 whitespace-normal cursor-pointer transition duration-150 hover:bg-green-800" %>
      </div>
      

    </div>

    <% end %>
  </div>
  

</div>