<div class="container mx-auto px-4 md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm 2xl:max-w-screen-sm">
  <h1>Hello SHOW</h1>
  
  <p class="text-bold">Bien immobilier</p>
  <%= @simulation.house_city %>
  <%= @simulation.house_price_bought %>
  <%= @simulation.house_first_works %>
  <%= @simulation.house_annual_charges %>
  <%= @simulation.house_property_tax %>
  <p class="text-bold">Mise en location</p>
  <%= @simulation.house_rent_per_month %>
  <%= number_with_precision @simulation.house_delegated_maintenance_value, precision: 3 %>

</div>
