<div class="container mx-auto px-4 md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm 2xl:max-w-screen-sm">

  <!-- Back to index button for users -->
  <% if current_user %>
    <div class="flex justify-start mt-4 text-sm">
      <%= link_to "Retour aux simulations", simulations_path, class: "bg-opacity-0 text-gray-400 border border-1 border-gray-400 px-2 py-1 rounded cursor-pointer" %>
    </div>
  <% end %>

  <!-- Save button for not user -->
  <% unless current_user %>
    <div class="flex justify-end mr-4 mt-4 text-sm">
      <%= link_to "Sauvegarder", new_user_session_path, class: "bg-gray-800 text-white px-2 py-1 rounded cursor-pointer" %>
    </div>
  <% end %>

  <!-- Introduction text -->
  <div class="mt-8 p-2 bg-green-100 flex items-center">
    <p class="">Plusieurs coûts (taux de crédit, assurances, etc) sont calculés automatiquement sur la base d’indicateurs nationaux. 
      Vous pouvez les personnaliser plus bas.</p>
  </div>

  
  <!-- Title -->
  <h1 class="mt-8">Ma simulation pour un bien de <%= @simulation.house_price_bought %>€ sur <%= @simulation.house_city %><% if @simulation.house_first_works > 0 %>, +<%= @simulation.house_first_works %>€ de travaux<% end %></h1>
  <h2>Réalisée le <%= @simulation.created_at %></h2>
  
  <!-- Profitabilities -->
  <div class="mt-8" id="profitabilities-rows">
    <h2 class="font-bold">Rentabilités :</h2>
    
    <!-- Gross profitability -->
    <div data-profitability="gross">
      <div class="grid grid-cols-3 cursor-pointer" style="min-height: 36px;">
        <div class="flex justify-start items-center border">
          <p>
            <% if @simulation.gross_profitability > 0 %>
              + <%= sprintf("%20.1f", @simulation.gross_profitability) %>%
            <% elsif @simulation.gross_profitability < 0 %>
              - <%= sprintf("%20.1f", @simulation.gross_profitability) %>%
            <% elsif @simulation.gross_profitability == 0 %>
              <%= sprintf("%20.1f", @simulation.gross_profitability) %>%
            <% end %>
          </p>
        </div>
        <div class="flex justify-start items-center col-span-2 border">
          <p>Rentabilité brute</p>
        </div>
      </div>
      <p class="text-xs">Formule : (Loyer annuel HC / (Prix d'achat + Frais de notaire + Eventuels travaux)) * 100 </p>
      <p class="text-xs">Calcul : (<%= @simulation.house_rent_amount_per_year %> / (<%= @simulation.house_price_bought %> + <%= @simulation.house_notarial_fees_percentage %> + <%= @simulation.house_first_works %>)) * 100 </p>
    </div>


    <!-- Net profitability -->
    <div data-profitability="net">
      <div class="grid grid-cols-3 cursor-pointer" style="min-height: 36px;">
        <div class="flex justify-start items-center border">
          <p>
            <% if @simulation.net_profitability > 0 %>
              + <%= sprintf("%20.1f", @simulation.net_profitability) %>%
            <% elsif @simulation.net_profitability < 0 %>
              - <%= sprintf("%20.1f", @simulation.net_profitability) %>%
            <% elsif @simulation.net_profitability == 0 %>
              <%= sprintf("%20.1f", @simulation.net_profitability) %>%
            <% end %>
          </p>
        </div>
        <div class="flex justify-start items-center col-span-2 border">
          <p>Rentabilité nette</p>
        </div>
      </div>
      <p class="text-xs">Formule : ((Loyer annuel HC - Charges non récupérables - Taxe foncière - Assurance PNO - Assurance GLI - Frais de gestion(opt)) / (Prix d'achat + Frais de notaire + Eventuels travaux + Intérêts et assurance crédit)) * 100 </p>
      <p class="text-xs">Calcul : ((<%= @simulation.house_rent_amount_per_year %> - <%= @simulation.house_total_charges_amount_per_year - @simulation.house_tenant_charges_amount_per_year %> - <%= @simulation.house_property_tax_amount_per_year %> - <%= @simulation.house_insurance_pno_amount_per_year %> - <%= @simulation.house_insurance_gli_percentage * @simulation.house_rent_amount_per_year %> - Frais de gestion(opt)) / (Prix d'achat + Frais de notaire + Eventuels travaux + Intérêts et assurance crédit)) * 100</p>
    </div>

    <!-- Net after taxes profitability -->
    <div data-profitability="netaftertaxes">
      <div class="grid grid-cols-3 cursor-pointer" style="min-height: 36px;">
        <div class="flex justify-start items-center border">
          <p>+ 4.5%</p>
        </div>
        <div class="flex justify-start items-center col-span-2 border">
          <p>Rentabilité nette après impôts</p>
        </div>
      </div>
    </div>

  </div>


  <!-- Dans les faits -->
  <div class="mt-8">
    <h2 class="font-bold">Dans les faits :</h2>

    <p class="font-bold">Bien immobilier</p>
    <div class="flex flex-col mb-4">
      <p>City = <%= @simulation.house_city %></p>
      <p>house_price_bought = <%= @simulation.house_price_bought %></p>
      <p>house_first_works = <%= @simulation.house_first_works %></p>
      <p>house_total_charges_amount_per_year = <%= @simulation.house_total_charges_amount_per_year %></p>
      <p>house_tenant_charges_amount_per_year = <%= @simulation.house_tenant_charges_amount_per_year %></p>
      <p>house_property_tax_amount_per_year = <%= @simulation.house_property_tax_amount_per_year %></p>
      <p>house_property_management_cost_percentage = <%= @simulation.house_property_management_cost_percentage %></p>
      <p>house_insurance_pno_amount_per_year = <%= @simulation.house_insurance_pno_amount_per_year %></p>
      <p>house_insurance_gli_percentage = <%= @simulation.house_insurance_gli_percentage %></p>
      <p>house_insurance_gli_cost_per_month = <%= @simulation.house_insurance_gli_cost_per_month %></p>
    </div> 

    <p class="font-bold">Mise en location</p>
    <div class="flex flex-col mb-4">
      <p>house_rent_amount_per_month = <%= @simulation.house_rent_amount_per_month %></p>
      <p>house_property_management_cost_percentage = <%= number_with_precision @simulation.house_property_management_cost_percentage, precision: 3 %></p>
    </div>
    
    <p class="font-bold">Crédit bancaire</p>
    <div class="flex flex-col mb-4">
      <p>credit_loan_amount = <%= @simulation.credit_loan_amount %></p>
      <p>credit_loan_duration = <%= @simulation.credit_loan_duration %></p>
      <p>credit_loan_mensuality (PMT) = <%= @simulation.credit_loan_mensuality %></p>
    </div>
  
    <p class="font-bold">Test for month = 12</p>
    <div class="flex flex-col mb-4">
      <p>IPMT 12 = <%= @simulation.credit_loan_interest_cost_for_month(12) %> OK</p>
      <p>PPMT 12 = <%= @simulation.credit_loan_principal_repayment_for_month(12) %> OK</p>
      <p>CUMPRINC 12 = <%= @simulation.credit_loan_cumulative_principal_paid_for_month(12) %> OK</p>
      <p>Credit_loan amount - CUMPRINC 12 = <%= @simulation.credit_loan_remaining_principal_to_pay_for_month(12) %> OK</p>
      <p>CUMIPMT 12 = <%= @simulation.credit_loan_cumulative_interests_paid_for_month(12) %></p>
    </div>
    <p class="font-bold">Total credit costs</p>
    <div class="flex flex-col mb-4">
      <p>Total interest cost = <%= @simulation.credit_loan_interest_total_cost %></p>
      <p>Total insurance cost  = <%= @simulation.credit_loan_insurance_total_cost %></p>
    </div>
    <p class="font-bold">Imposition</p>
    <div class="flex flex-col mb-4">
      <p>fiscal_status = <%= @simulation.fiscal_status %></p>
      <p>fiscal_regimen = <%= @simulation.fiscal_regimen %></p>
      <p>fiscal_revenues_p1 = <%= @simulation.fiscal_revenues_p1 %></p>
      <p>fiscal_revenues_p2 = <%= @simulation.fiscal_revenues_p2 %></p>
      <p>fiscal_nb_parts = <%= @simulation.fiscal_nb_parts %></p>
    </div>
  </div>

  <!-- Modify a param -->
  <p>Modifier mes données de simulation :</p>
  <%= form_for @simulation, remote: true do |f| %>
    <%= f.label :house_city, "Ville" %>
    <%= f.text_field :house_city %>

    <%= f.label :house_price_bought, "Prix d'achat" %>
    <%= f.text_field :house_price_bought %>

    <%= f.label :house_notarial_fees_percentage, "Frais de notaire" %>
    <%= f.number_field :house_notarial_fees_percentage, step: :any %>


    <%= f.submit "Affiner ma simulation", disable_with: 'Affiner ma simulationing...' %>
  <% end %>

</div>
