<div class="container mx-auto px-4 md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm 2xl:max-w-screen-sm">

  <!-- Save button for not user -->
  <% unless current_user %>
    <div class="flex justify-end mr-4 mt-4 text-sm">
      <%= link_to "Sauvegarder", new_user_session_path, class: "bg-gray-800 text-white px-2 py-1 rounded cursor-pointer" %>
    </div>
  <% end %>

  <!-- Introduction text -->
  <div class="mt-8 p-2 bg-green-200 flex items-center">
    <span class="text-4xl font-bold mr-1">8</span>
    <span class="mr-4">/10</span>
    <p class="font-bold">Ce projet est un très bon investissement !</p>
  </div>
  
  <!-- Dans les faits -->
  <div class="mt-8">
    <h2 class="font-bold">Dans les faits :</h2>
    <p class="text-bold">Bien immobilier</p>
    <%= @simulation.house_city %>
    <%= @simulation.house_price_bought %>
    <%= @simulation.house_first_works %>
    <%= @simulation.house_annual_charges %>
    <%= @simulation.house_property_tax %>
    <p class="text-bold">Mise en location</p>
    <%= @simulation.house_rent_per_month %>
    <%= number_with_precision @simulation.house_delegated_maintenance_value, precision: 3 %>
    <p class="text-bold">Crédit bancaire</p>
    <%= @simulation.credit_amount %>
    <%= @simulation.credit_duration %>
    <p class="text-bold">Imposition</p>
    <%= @simulation.fiscal_status %>
    <%= @simulation.fiscal_regimen %>
    <%= @simulation.fiscal_revenues_p1 %>
    <%= @simulation.fiscal_revenues_p2 %>
    <%= @simulation.fiscal_nb_parts %>
  </div>

</div>
