<div class="container mx-auto px-4 md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm 2xl:max-w-screen-sm">

  <!-- Back to index button for users -->
  <% if current_user %>
    <div class="flex justify-start mt-4 text-sm">
      <%= link_to "Retour aux simulations", simulations_path, class: "bg-gray-800 text-white px-2 py-1 rounded cursor-pointer" %>
    </div>
  <% end %>

  <!-- Save button for not user -->
  <% unless current_user %>
    <div class="flex justify-end mr-4 mt-4 text-sm">
      <%= link_to "Sauvegarder", new_user_session_path, class: "bg-gray-800 text-white px-2 py-1 rounded cursor-pointer" %>
    </div>
  <% end %>

  <!-- Title -->
  <h1 class="mt-8">Ma simulation pour un bien de <%= @simulation.house_price_bought %>€ sur <%= @simulation.house_city %><% if @simulation.house_first_works > 0 %>, +<%= @simulation.house_first_works %>€ de travaux<% end %></h1>
  <h2>Réalisée le <%= @simulation.created_at %></h2>


  <!-- Introduction text -->
  <div class="mt-8 p-2 bg-green-100 flex items-center">
    <p class="text-xs">Plusieurs coûts (taux de crédit, assurances, etc) sont calculés automatiquement sur la base d’indicateurs nationaux. 
      Vous pouvez les personnaliser plus bas.</p>
  </div>
  
  <!-- Profitabilities -->
  <div class="mt-8">
    <h2 class="font-bold" id="profitabilities-rows">Rentabilités :</h2>
    
    <!-- Gross profitability -->
    <div data-profitability="gross">
      <div class="grid grid-cols-3" style="min-height: 36px;">
        <div class="flex justify-start items-center border">
          <p>+ 11.1%</p>
        </div>
        <div class="flex justify-start items-center col-span-2 border">
          <p>Rentabilité brute</p>
        </div>
      </div>
      <p>Random html to be injected</p>
    </div>


    <!-- Net profitability -->
    <div data-profitability="net">
      <div class="grid grid-cols-3" style="min-height: 36px;">
        <div class="flex justify-start items-center border">
          <p>+ 7.2%</p>
        </div>
        <div class="flex justify-start items-center col-span-2 border">
          <p>Rentabilité nette</p>
        </div>
      </div>
    </div>

    <!-- Net after taxes profitability -->
    <div data-profitability="netaftertaxes">
      <div class="grid grid-cols-3" style="min-height: 36px;">
        <div class="flex justify-start items-center border">
          <p>+ 4.5%</p>
        </div>
        <div class="flex justify-start items-center col-span-2 border">
          <p>Rentabilité nette après impôts</p>
        </div>
      </div>
    </div>

  </div>


  <!-- Dans les faits -->
  <div class="mt-8">
    <h2 class="font-bold">Dans les faits :</h2>
    <p class="text-bold">Bien immobilier</p>
    <%= @simulation.house_city %>
    <%= @simulation.house_price_bought %>
    <%= @simulation.house_first_works %>
    <%= @simulation.house_annual_charges %>
    <%= @simulation.house_property_tax %>
    <p class="text-bold">Mise en location</p>
    <%= @simulation.house_rent_per_month %>
    <%= number_with_precision @simulation.house_delegated_maintenance_value, precision: 3 %>
    <p class="text-bold">Crédit bancaire</p>
    <%= @simulation.credit_amount %>
    <%= @simulation.credit_duration %>
    <p class="text-bold">Imposition</p>
    <%= @simulation.fiscal_status %>
    <%= @simulation.fiscal_regimen %>
    <%= @simulation.fiscal_revenues_p1 %>
    <%= @simulation.fiscal_revenues_p2 %>
    <%= @simulation.fiscal_nb_parts %>
  </div>

</div>
