<div class="mx-auto px-4">

  <div class="flex justify-center">

    <div style="width: 260px;" class="flex flex-col items-center">

      <!-- Titles -->
      <h2 class="text-lg font-bold mt-8">S'inscrire</h2>
      <p class="text-sm">En vous inscrivant sur Keyz vous bénéficez de nombreux avantages</p>

      <!-- Form -->
      <div class="mt-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
  
          <div class="field">
            <%= f.label :email, "Email", class: "font-semibold" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 260px; height: 40px;", class: "px-2 border-2 rounded" %>
          </div>
  
          <div class="mt-6">
            <div class="field">
              <%= f.label :password, "Mot de passe", class: "font-semibold" %>
              <% if @minimum_password_length %>
              <span class="text-xs text-gray-400 font-semibold">(<%= @minimum_password_length %> caractères minimum)</span>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", style: "width: 260px; height: 40px;", class: "px-2 border-2 rounded" %>
            </div>
    
            <div class="field mt-2">
              <%= f.label :password_confirmation, "Confirmez votre mot de passe", class: "font-semibold" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 260px; height: 40px;", class: "px-2 border-2 rounded" %>
            </div>
          </div>

          <!-- Submit -->
          <div class="mt-12">
            <div class="actions flex justify-center">
              <%= f.submit "S'inscrire", style: "width: 260px; height: 52px;", class: "font-bold text-white rounded bg-green-700 cursor-pointer transition duration-150 hover:bg-green-800" %>
            </div>
          </div>

        <% end %>
      </div>

      <!-- <%= render "devise/shared/links" %> -->
      <%- if controller_name != 'sessions' %>
        <div class="flex flex-col items-center mt-6">
          <p class="text-xs text-gray-400 font-semibold">Vous avez déjà un compte ?</p>
          <%= link_to "Connectez-vous", new_session_path(resource_name), class: "text-xs text-green-700 font-bold" %><br />
        </div>
      <% end %>

    </div>

  </div>

</div>