<div class="w-full flex justify-center">
  <div
    data-controller="cookies"
    data-cookies-target="cookiesElement"
    class="fixed z-10 bottom-0 sm:bottom-4 sm:left-4 flex flex-col justify-between items-center p-4 shadow-md border border-gray-100 sm:rounded-lg bg-white"
    style="max-width: 600px;"
  >
    <div class="absolute top-3 sm:top-2 right-3 sm:right-2">
      <button
        data-action="click->cookies#close"
        type="button"
        class="h-full text-gray-300"
        data-dismiss="notice"
        aria-label="Close"
      >
        <span aria-hidden="true" class="text-xs p-2">&#10005;</span>
      </button>
    </div>
  
    <div class="mt-8 px-4 flex items-start">
      <%= image_tag "cookies.png", class: "mr-4 pt-2", style: "width: 48px;", placeholder: "cookies" %>
      <div>
        <p class="text-sm break-normal"><%= t('shared._cookies_popup.disclaimer') %></p>
        <br>
        <p class="text-sm"><%= t('shared._cookies_popup.informations_on_policy') %> <%= link_to t('shared._cookies_popup.policy'), cookies_policy_path, class: "font-semibold text-green-500 cursor-pointer" %></p>
      </div>
    </div>
  
    <div class="w-full flex justify-between sm:justify-evenly px-4 mt-6">
      <%= link_to t('shared._cookies_popup.agree'), accept_cookies_path, remote: true, data: {'action': 'click->cookies#close'}, class: "bg-green-500 rounded-md font-semibold py-1 px-14 sm:px-16" %>
      <%= link_to t('shared._cookies_popup.refuse'), refuse_cookies_path, remote: true, data: {'action': 'click->cookies#close'}, class: "bg-green-50 rounded-md font-semibold py-1 px-14 sm:px-16"  %>
    </div>
  </div>
</div>