<div class="container-app">
  <footer class="flex flex-col items-start mt-6 mb-6 ">

    <div class="w-full flex flex-col items-start divide-y-2 whitespace-nowrap sm:flex-row sm:justify-start sm:divide-y-0 sm:gap-4">
      <%= link_to t('shared._footer.about_link'), about_path ,class: "w-full font-bold text-xs text-gray-400 py-2 sm:w-auto" %>
      <%= link_to t('shared._footer.contact_link'), contact_path ,class: "w-full font-bold text-xs text-gray-400 py-2 sm:w-auto" %>
      <%= link_to "/", class: "w-full flex items-end py-2 sm:w-auto" do %>
        <p class="font-bold pr-1 text-xs text-gray-400"><%= t('language_name') %></p>
        <i class="fas fa-chevron-down text-xs text-gray-400"></i>
      <% end %>
    </div>

    <div class="flex justify-between items-center gap-4 mt-4">
      <%= image_tag "icon-squared-gray-400.png", class: "text-gray-400 w-1/3", style: "max-width: 36px;" %>
      <p class="text-xs text-gray-400"><%= t('shared._footer.copyright_disclaimer') %></p>
    </div>

  </footer>
</div>