<nav class="sm:sticky md:sticky lg:sticky xl:sticky 2xl:sticky top-0">
  <div class="flex justify-between items-center py-2 shadow-sm bg-white dark:bg-white">

    <!-- LEFT SIDE / ICON + TEXT -->
    <div class="flex justify-between items-center ml-4">
      <%= link_to "/" do %>
        <div class="flex justify-between items-center px-2">
          <%= image_tag "icon-squared-transparent.png", style: "width: 48px;" %>
          <div class="px-3">
            <p class="text-2xl font-bold text-gray-800">Mini-Keyz</p>
            <p class="text-sm text-gray-500">La rentabilité immobilière en ligne</p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- RIGHT SIDE / DROP DOWN MENU -->
    <% if user_signed_in? %>
      <div class="px-2 mr-4">
        <i class="fas fa-bars mx-4 cursor-pointer" style="font-size: 24px;" id="navbar-dropdown"></i>
      </div>
    <% elsif request.path == "/users/sign_in" %>
    <% else %>
      <div class="mr-4">
        <%= link_to "Se connecter", new_user_session_path, class: "font-bold rounded-lg px-3 py-2 border border-black whitespace-nowrap" %>
      </div>
    <% end %>    
  </div>
</nav>

<div class="absolute right-0 bg-white mx-2 hidden" id="navbar-dropdown-items-list">
  <div class="flex flex-col border-2">
    <% if user_signed_in? %>
      <%= link_to "Réaliser une simulation", new_simulation_path, style: "width: 200px", class: "navbar-dropdown-item bg-green-frog p-1 border-b-2" %>
      <%= link_to "Mes simulations", simulations_path, style: "width: 200px", class: "navbar-dropdown-item p-1 border-b-2" %>
      <%= link_to "Mon compte", user_path(current_user), style: "width: 200px", class: "navbar-dropdown-item p-1 border-b-2" %>
      <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, style: "width: 200px", class: "navbar-dropdown-item p-1" %>
    <% end %>
  </div>
</div>