<nav 
  data-controller="navbar dropdown"
  class="sm:sticky top-0 bg-green-30 hover:bg-white transition duration-400 z-50" 
>
  <div 
    data-action="scroll@window->navbar#scrollDown"
    data-navbar-target="navbarElement"
    class="flex justify-between items-center py-4 sm:px-2 md:px-4 lg:px-6"
  >
    
    <!-- LEFT SIDE / ICON + TEXT -->
    <div class="flex justify-between items-center ml-4">
      <%= link_to "/" do %>
        <div class="flex justify-between items-center px-2">
          <%= image_tag "icon-squared-transparent.png", style: "width: 48px;" %>
          <div class="px-3">
            <p class="text-2xl font-bold text-gray-800">Mini-Keyz</p>
            <p class="text-sm text-gray-500">La rentabilité immobilière en ligne</p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- RIGHT SIDE / DROP DOWN MENU -->
    <% if user_signed_in? %>
      <div class="px-2 mr-4">
        <i 
          data-action="click->dropdown#toggle click@window->dropdown#hide"
          data-dropdown-target="dropdownButton"
          class="fas fa-bars px-4 cursor-pointer" 
          style="font-size: 24px;"
        >
        </i>
      </div>
    <% elsif request.path == "/users/sign_in" || request.path == "/users/password/new" || request.path == "/users/sign_up" %>
    <% else %>
      <div class="mr-4 flex flex-wrap justify-end gap-2">
        <%= link_to "Se connecter", new_user_session_path, class: "font-bold rounded-lg px-3 py-2 border border-black whitespace-nowrap hover:bg-gray-200 transition duration-400" %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "font-bold text-white rounded-lg px-3 py-2 border bg-black border-black whitespace-nowrap hover:bg-gray-700 transition duration-400" %>
      </div>
    <% end %>    
  </div>

  <!-- Dropdown -->
  <div 
    data-dropdown-target="dropdownMenu" 
    class="absolute right-0 mx-2 hidden" 
  >
    <div class="flex flex-col bg-white border-2 rounded-bl rounded-br">
      <% if user_signed_in? %>
        <%= link_to "Réaliser une simulation", new_simulation_path, style: "width: 240px", class: "font-semibold p-2 border-b-2 transition duration-400 hover:bg-green-500" %>
        <%= link_to "Mes simulations", simulations_path, style: "width: 240px", class: "font-semibold p-2 border-b-2 transition duration-400 hover:bg-green-500" %>
        <%= link_to "Mon compte", user_path(current_user), style: "width: 240px", class: "font-semibold p-2 border-b-2 transition duration-400 hover:bg-green-500" %>
        <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, style: "width: 240px", class: "font-semibold p-2 transition duration-400 hover:bg-green-500" %>
      <% end %>
    </div>
  </div>
</nav>
