<div class="container-app flex justify-center">

  <div
    data-controller="input"
    style="width: 320px;"
  >

    <div class="mt-8">

      <%= turbo_frame_tag dom_id(@simulation) do %>
        <!-- Progress bar -->
        <div class="w-full h-4 bg-gray-100 rounded-lg flex">
          <div class="w-1/2 h-full bg-green-500 rounded-lg"></div>
          <p class="pl-1 text-xs">50%</p>
        </div>

        <!-- Form -->
        <%= form_with model: @simulation, url: wizard_path, data: { turbo_frame: :_top }, method: :patch, class: "mt-6" do |f| %>

          <!-- Error message -->
          <% if f.object.errors.any? %>
            <p
              data-input-target="errorMessage"
              class="text-sm text-red-500 text-center bg-red-100 py-2 mb-4" 
            >
              Vous devez corriger les erreurs pour poursuivre
            </p>
          <% end %>

          <!-- 3/ Emprunt bancaire -->
          <div
            data-input-target="formWrapper"
            data-form-color="red"
            class="bg-red-100 bg-opacity-50 w-full px-4 sm:px-6 py-8"
          >

            <!-- Title -->
            <div class="flex items-center border-b-2 border-black">
              <i class="fas fa-piggy-bank mx-1" style="font-size: 20px;"></i>
              <h2 class="text-xl font-bold">Emprunt bancaire</h2>
            </div>

            <!-- Montant emprunté -->
            <div class="flex flex-col mt-8">
              <%= f.label :credit_loan_amount, "Montant emprunté", class: "font-bold" %>
              <p class="text-xs text-gray-500">Seulement l’argent emprunté auprès de votre banque</p>
              <%= f.number_field :credit_loan_amount, placeholder: "240 000€", style: "width: 200px; height: 40px;", class: "input-red" %>
              <%= errors_for @simulation, :credit_amount %>  
            </div>

            <!-- Durée -->
            <div 
              data-controller="form-radio-buttons"
              class="flex flex-col mt-4"
            >
              <%= f.label :credit_loan_duration, "Durée", class: "font-bold" %>
              <p class="text-xs text-gray-500">En années</p>
              <div
                data-form-radio-buttons-target="radioWrapper"
                data-color="red"
                class="flex items-center justify-between mt-1" 
                style="width: 200px; height: 40px;" 
                id="radio-credit-loan-duration"
              >
                <div
                  data-action="click->form-radio-buttons#toggle"
                  class="flex justify-center items-center bg-white rounded border-2 border-red-200" 
                  style="width: 36px; height: 40px;"
                >
                  <%= f.radio_button :credit_loan_duration, 5, class: "hidden" %>
                  <%= f.label :credit_loan_duration, "5", value: 5, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
                </div>
                
                <div
                  data-action="click->form-radio-buttons#toggle"
                  class="flex justify-center items-center bg-white rounded border-2 border-red-200" 
                  style="width: 36px; height: 40px;"
                >
                  <%= f.radio_button :credit_loan_duration, 10, class: "hidden"%>
                  <%= f.label :credit_loan_duration, "10", value: 10, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
                </div>
                
                <div
                  data-action="click->form-radio-buttons#toggle"
                  class="flex justify-center items-center bg-white rounded border-2 border-red-200" 
                  style="width: 36px; height: 40px;"
                >
                  <%= f.radio_button :credit_loan_duration, 15, class: "hidden"%>
                  <%= f.label :credit_loan_duration, "15", value: 15, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
                </div>
                
                <div
                  data-action="click->form-radio-buttons#toggle"
                  class="flex justify-center items-center bg-white rounded border-2 border-red-200" 
                  style="width: 36px; height: 40px;"
                >
                  <%= f.radio_button :credit_loan_duration, 20, class: "hidden"%>
                  <%= f.label :credit_loan_duration, "20", value: 20, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
                </div>
                
                <div
                  data-action="click->form-radio-buttons#toggle"
                  class="flex justify-center items-center bg-white rounded border-2 border-red-200" 
                  style="width: 36px; height: 40px;"
                >
                  <%= f.radio_button :credit_loan_duration, 25, class: "hidden"%>
                  <%= f.label :credit_loan_duration, "25", value: 25, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
                </div>
                <%= errors_for @simulation, :credit_loan_duration %>  
              </div>

            </div>

          </div>

          <!-- Actions -->
          <div class="flex justify-center gap-x-4 sm:gap-x-8 mt-6 sm:mt-12">
            <%= link_to 'Retour', previous_wizard_path, class: "btn-back", role: "button" %> <%# NOTE the _top target %>
            <div class="flex item-center"></div>
            <%= f.submit 'Suivant', class: "btn-next" %>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>

</div>
