<div class="mx-auto px-6 sm:px-8 md:px-16 2xl:px-32 flex justify-center">

  <div style="max-width: 480px;">

    <!-- Advertising text -->
    <div class="mt-8 sm:mt-16">
      <h1 class="text-xl sm:text-2xl font-bold leading-tight">Cette annonce vue en ligne est-elle un bon investissement locatif ?</h1>
      <h2 class="text-base leading-tight mt-4">Nous vous donnons la réponse en 60 secondes. Top chrono !</h2>
    </div>

    <%= turbo_frame_tag dom_id(@simulation) do %>
      <%= form_with model: @simulation, url: wizard_path, data: { turbo_frame: :_top }, method: :patch do |f| %>

        <% if f.object.errors.any? %>
          <p>Vous devez corriger les erreurs pour poursuivre</p>
        <% end %>

        <!-- 2/ Mise en location -->
        <div class="bg-blue-100 bg-opacity-50 w-full px-4 sm:px-6 py-8">
          <div class="flex items-center border-b-2 border-black">
            <i class="fas fa-key mx-1" style="font-size: 16px;"></i>
            <h2 class="text-xl font-bold">Mise en location</h2>
          </div>

          <!-- Loyer mensuel -->
          <div class="flex flex-col mt-8">
            <%= f.label :house_rent_amount_per_month, "Loyer mensuel", class: "font-bold" %>
            <p class="text-xs text-gray-500">Hors charges</p>
            <%= f.number_field :house_rent_amount_per_month, placeholder: "800€ HC", style: "width: 200px; height: 40px;", class: "rounded border-2 border-blue-200 px-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent number-field-thousand-separator" %>
            <%= errors_for @simulation, :house_rent_amount_per_month %>  
          </div>

          <!-- Gestion en agence ? -->
          <div class="flex flex-col mt-4">
            <%= f.label :house_property_management_cost_percentage, "Gestion en agence ?", class: "font-bold" %>
            <p class="text-xs text-gray-500">En moyenne 8% des loyers HC</p>
            <div class="flex items-center justify-between mt-1" style="width: 200px; height: 40px;" id="radio-house-property-management-cost">
              <div class="flex justify-center items-center bg-white rounded border-2 border-blue-200" style="width: 92px; height: 40px;">
                <%= f.radio_button :house_property_management_cost_percentage, 0.08, class: "hidden" %>
                <%= f.label :house_property_management_cost_percentage, "Oui", value: 0.08, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
              </div>
              <div class="flex justify-center items-center bg-white rounded border-2 border-blue-200" style="width: 92px; height: 40px;">
                <%= f.radio_button :house_property_management_cost_percentage, 0, class: "hidden"%>
                <%= f.label :house_property_management_cost_percentage, "Non", value: 0, class:"w-full h-full font-bold text-center py-1 cursor-pointer" %>
              </div>
              <%= errors_for @simulation, :house_property_management_cost_percentage %>  
            </div>

          </div>

        </div>

        <!-- Actions -->
        <div class="flex justify-center gap-x-4 sm:gap-x-8 mt-6 sm:mt-12">
          <%= link_to 'Retour', previous_wizard_path, class: "w-32 sm:w-40 h-14 text-lg text-gray-400 align-middle rounded p-2 border border-gray-300 whitespace-nowrap flex justify-center items-center", role: "button" %> <%# NOTE the _top target %>
          <div class="flex item-center"></div>
          <%= f.submit 'Suivant', class: "w-32 sm:w-40 h-14 text-lg font-bold text-white rounded bg-green-700 p-2 whitespace-normal cursor-pointer transition duration-150 hover:bg-green-800" %>
        </div>

      <% end %>
    <% end %>

  </div>
</div>
