<div class="container-app bg-green-30">
  
  <!-- Hero -->
  <section class="flex mt-16 pb-16 flex-wrap xl:mt-28 xl:flex-nowrap xl:grid xl:grid-cols-7 xl:gap-4 xl:items-center">
    <div class="flex flex-col items-start xl:col-start-1 xl:col-end-5">
      <h1 class="font-semibold text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl"><span class="font-extrabold"><%= t('.title_p1') %></span> <%= t('.title_p2') %></h1>
      <h2 class="text-base font-semibold mt-8"><%= t('.subtitle_1') %></h2>
      <h2 class="text-base font-semibold mt-1"><%= t('.subtitle_2') %></h2>
      <h2 class="text-base font-semibold mt-1"><%= t('.subtitle_3') %></h2>
      <%= link_to t('new_simulation'), new_simulation_path, class: "btn-new-sim" %>
    </div>
    <div class="mt-16 w-full flex justify-center xl:mt-0 xl:inline-block xl:col-start-5 xl:col-end-8">
      <%= image_tag "pages/dogecoin-unsplash.jpg", class: "rounded-lg m-auto" %>
    </div>
  </section>

</div>

<!-- Why us -->
<section class="flex flex-col items-center bg-green-700">
  <div class="p-8 sm:p-16">
    <div class="flex flex-col items-center mt-8">
      <i class="fas fa-check text-green-frog text-3xl pb-4 md:pb-0"></i>
      <h2 class="font-bold text-white text-center text-3xl mt-4 sm:mt-8">Notre proposition, simple comme bonjour 😎</h2>
      <h3 class="font-semibold text-center mt-4 sm:mt-8">Forts de notre expertise et d’une parfaite connaissance des offres du marché, nous analysons vos besoins et vous proposons la mieux adaptée à votre situation.</h3>
    </div>
  
    <div class="mx-auto mb-8 px-8 md:px-16 2xl:px-32">
      <div class="flex justify-center flex-wrap">
        <div class="mt-8 sm:w-1/3 px-1">
          <h3 class="font-bold">Faites votre simulation en 2 min</h3>
          <p>Renseignez vos informations patrimoniales et fiscales afin qu’elles soient analysées par notre algorithme. Chaque simulation est unique.</p>
        </div>
        <div class="mt-8 sm:w-1/3 px-1">
          <h3 class="font-bold">Consultez vos résultats détaillés</h3>
          <p>Mini-Keyz sélectionne pour vous 3 stratégies qui vous correspondent et vous propose des simulations détaillées pour chacune d’elles.</p>
        </div>
        <div class="mt-8 sm:w-1/3 px-1">
          <h3 class="font-bold">Mettez en place votre investissement !</h3>
          <p>Il ne vous reste plus qu’à dénicher le bien immobilier pour réaliser votre projet.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Functionnalities -->
<div class="container-app">
  <section class="flex flex-col items-center mt-16">
    <h2 class="text-2xl sm:text-3xl font-bold text-center">Pourquoi utiliser Mini-Keyz ?</h2>

    <!-- Profitabilities -->
    <div class="flex flex-1 flex-wrap-reverse md:flex-nowrap justify-between items-center w-full mt-16 bg-green-30 rounded-xl">
      <div class="p-8 sm:p-16">
        <%= image_tag "pages/functionalities-evolution.jpg" %>
      </div>
      <div class="p-8 sm:p-16">
        <p class=" text-sm sm:text-base font-bold uppercase text-green-700">rentabilités</p>
        <h3 class="text-2xl sm:text-3xl font-bold mt-4">Déterminez le meilleur investissement locatif</h3>
        <p class="sm:text-lg mt-4">
          Savez‐vous qu’il existe plus de 20 stratégies différentes pour investir dans l’immobilier locatif ? Notre algorithme vous aide à faire les bons choix avant d’investir.<br><br>
          Calculez les rentabilités brute, nette, et nette d'impôts de vos différents projets d'investissement et <span class="font-bold">choisissez le meilleur projet avec la meilleur stratégie fiscale</span></p>
        <div class="mt-4">
          <%= link_to "En savoir plus", new_simulation_path, class: "underline font-semibold text-green-700" %>
        </div>
      </div>
    </div>

    <!-- Projections -->
    <div class="flex flex-1 flex-wrap md:flex-nowrap justify-between items-center w-full mt-16 bg-green-30 rounded-xl">
      <div class="p-8 sm:p-16">
        <p class=" text-sm sm:text-base font-bold uppercase text-green-700">évolution</p>
        <h3 class="text-2xl sm:text-3xl font-bold mt-4">Prévoyez les flux financiers des premières années d'exploitation</h3>
        <p class="sm:text-lg mt-4">Une bonne prévision financière équivaut à un investissement immobilier réussi et rentable. <span class="font-bold">Grâce à Mini-Keyz plus de mauvaises surprises,</span> vous pouvez projeter sur une année type les revenus et dépenses afin d'anticiper les rentrées et sorties d'argent importantes.</p>
        <div class="mt-4">
          <%= link_to "En savoir plus", new_simulation_path, class: "underline font-semibold text-green-700" %>
        </div>
      </div>
      <div class="p-8 sm:p-16">
        <%= image_tag "pages/functionalities-evolution.jpg" %>
      </div>
    </div>

    <!-- Best fiscal status -->
    <div class="flex flex-1 flex-wrap-reverse md:flex-nowrap justify-between items-center w-full mt-16 bg-green-30 rounded-xl">
      <div class="m-8 sm:m-16 rounded-lg bg-green-100">
        <%= image_tag "pages/fiscal-status-7-no-gif.png" %>
      </div>
      <div class="p-8 sm:p-16">
        <p class=" text-sm sm:text-base font-bold uppercase text-green-700">status fiscal</p>
        <h3 class="text-2xl sm:text-3xl font-bold mt-4">Choisissez le status fiscal le plus avantageux</h3>
        <p class="sm:text-lg mt-4">Mini-Keyz vous aide à mieux choisir votre stratégie d’investissement.
          <br><br>
          Ne vous concentrez plus uniquement sur le rentabilité brute d’un bien : <span class="font-bold">optimisez vos charges et votre fiscalité pour un investissement réussi. </span>Mini-Keyz analyse votre situation et trouve en fonction de votre profil les optimisations possibles.</p>
        <div class="mt-4">
          <%= link_to "En savoir plus", new_simulation_path, class: "underline font-semibold text-green-700" %>
        </div>
      </div>
    </div>

  </section>
</div>

<!-- Reminder user can do a simulation -->
<section class="flex flex-col items-center mt-16 bg-green-700">
  <div class="flex flex-col items-center py-24 px-8 sm:px-16">
    <h2 class="text-2xl sm:text-3xl font-bold text-white">Choisissez de gagner du temps et du contrôle</h2>
    <h3 class="mt-4 text-white">Adoptez dès maintenant une solution efficace de mesure de la rentabilité de vos investissements locatifs.</h3>
    <%= link_to "Réaliser une simulation", new_simulation_path, class: "btn-new-sim" %>
  </div>
</section>