<div class="container-app bg-green-30">
  <!-- Hero -->
  <section class="flex mt-16 pb-16 flex-wrap xl:mt-28 xl:flex-nowrap xl:grid xl:grid-cols-7 xl:gap-4 xl:items-center">
    <div class="flex flex-col items-start xl:col-start-1 xl:col-end-5">
      <h1 class="font-semibold text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl"><span class="font-extrabold">Faites le choix</span> d'investir dans le bon projet immobilier</h1>
      <h2 class="text-base mt-4">Calculez les rentabilités de votre projet d'investissement.<br>Projetez les flux financiers des premières années d'exploitation.<br>Choisissez le status fiscal le plus avantageux.</h2>
      <%= link_to "Réaliser une simulation", new_simulation_path, class: "btn-new-sim" %>
    </div>
    <div class="mt-16 w-full flex justify-center xl:mt-0 xl:inline-block xl:col-start-5 xl:col-end-8">
      <%= image_tag "pages/dogecoin-unsplash.jpg", class: "rounded-lg m-auto" %>
    </div>
  </section>

</div>

<!-- Why us -->
<section class="flex flex-col items-center bg-green-700">
  <div class="p-8 sm:p-16">
    <div class="flex flex-col md:flex-row items-center pt-16">
      <i class="fas fa-check text-green-frog text-3xl pb-4 md:pb-0"></i>
      <h2 class="pl-3 font-bold text-white text-3xl">Pourquoi adopter Mini-Keyz</h2>
    </div>
  
    <div class="mx-auto pb-16 px-8 md:px-16 2xl:px-32">
      <div class="flex justify-center flex-wrap">
        <div>
          <h3>Gratuit</h3>
          <p>Possible to give tip though</p>
        </div>
        <div>
          <h3>Fiable</h3>
          <p>Mis à jour avec données 2021</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Functionnalities -->
<div class="container-app">
  <section class="flex flex-col items-center mt-16">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center">xxx lorem ipsum xxx pour avoir l'esprit tranquille</h2>

    <!-- Profitabilities -->
    <div class="flex flex-1 flex-wrap-reverse md:flex-nowrap justify-between items-center w-full mt-16 bg-green-30 rounded-xl">
      <div class="p-8 sm:p-16">
        <%= image_tag "pages/functionalities-evolution.jpg" %>
      </div>
      <div class="p-8 sm:p-16">
        <p class=" text-sm sm:text-base font-bold uppercase text-green-700">rentabilités</p>
        <h3 class="text-2xl sm:text-3xl font-semibold mt-4">Déterminez le meilleur investissement locatif</h3>
        <p class="sm:text-lg mt-4">Calculez les rentabilités brute, nette, et nette d'impôts de vos différents projets d'investissement et choisissez le meilleur projet</p>
        <div class="mt-4">
          <%= link_to "En savoir plus", new_simulation_path, class: "underline font-semibold text-green-700" %>
        </div>
      </div>
    </div>

    <!-- Projections -->
    <div class="flex flex-1 flex-wrap md:flex-nowrap justify-between items-center w-full mt-16 bg-green-30 rounded-xl">
      <div class="p-8 sm:p-16">
        <p class=" text-sm sm:text-base font-bold uppercase text-green-700">évolution</p>
        <h3 class="text-2xl sm:text-3xl font-semibold mt-4">Prévoyez les flux financiers des premières années d'exploitation</h3>
        <p class="sm:text-lg mt-4">Projetez sur une année type les revenus et dépenses afin d'anticiper les rentrées et sorties d'argent importantes.</p>
        <div class="mt-4">
          <%= link_to "En savoir plus", new_simulation_path, class: "underline font-semibold text-green-700" %>
        </div>
      </div>
      <div class="p-8 sm:p-16">
        <%= image_tag "pages/functionalities-evolution.jpg" %>
      </div>
    </div>

    <!-- Best fiscal status -->
    <div class="flex flex-1 flex-wrap-reverse md:flex-nowrap justify-between items-center w-full mt-16 bg-green-30 rounded-xl">
      <div class="p-8 sm:p-16">
        <%= image_tag "pages/fiscal-status.gif" %>
      </div>
      <div class="p-8 sm:p-16">
        <p class=" text-sm sm:text-base font-bold uppercase text-green-700">status fiscal</p>
        <h3 class="text-2xl sm:text-3xl font-semibold mt-4">Choisissez le status fiscal le plus avantageux</h3>
        <p class="sm:text-lg mt-4">Lorem ipsum</p>
        <div class="mt-4">
          <%= link_to "En savoir plus", new_simulation_path, class: "underline font-semibold text-green-700" %>
        </div>
      </div>
    </div>

  </section>
</div>

<!-- Reminder user can do a simulation -->
<section class="flex flex-col items-center mt-16 bg-green-700">
  <div class="flex flex-col items-center py-24 px-8 sm:px-16">
    <h2 class="text-2xl sm:text-3xl font-bold text-white">Choisissez de gagner du temps et du contrôle</h2>
    <h3 class="mt-4 text-white">Adoptez dès maintenant une solution efficace de mesure de la rentabilité de vos investissements locatifs.</h3>
    <%= link_to "Réaliser une simulation", new_simulation_path, class: "btn-new-sim" %>
  </div>
</section>