<p>Bonjour <%= @user.first_name %>,</p>

<p><%= @user %></p>
<p><%= @simulation %></p>
<p><%= @simulation.house_city %></p>


<p>Pour sauvegarder toutes vos simulations dans un seul et même endroit, créez un compte sur Mini-Keyz :</p>
<%= link_to "Créer un compte", new_user_registration_url %>

<p>A très vite,</p>
<p>Mathieu</p>