<!DOCTYPE html>
<html>
  <head>
    <title>MiniKeyz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <%= favicon_link_tag 'favicon/favicon-green.png' %>

    <!-- PWA -->
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-30">

    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <!-- Content -->
    <%= yield %>

    <!-- Flashes -->
    <%= render 'shared/flashes' %>

    <!-- Cookies -->
    <%= render 'shared/cookies_popup' %>

    <!-- Footer -->
    <div class="mt-auto">
      <%= render 'shared/footer' %>
    </div>


  </body>
</html>
