<!DOCTYPE html>
<html>
  <head>
    <title>MiniKeyz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <%= favicon_link_tag 'favicon/favicon-green.png' %>
  </head>

  <body class="min-h-screen flex flex-col">

    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <!-- Content -->
    <%= yield %>

    <div class="mt-auto">
      <!-- Footer -->
      <%= render 'shared/footer' %>
    </div>
    
    <!-- Flashes -->
    <%= render 'shared/flashes' %>

  </body>
</html>
